<section class="about" id="advantages">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="about-list">
      <li class="about-list-item border">
        <div class="about-icon-box">
          <svg class="about-icon" width="32" height="32">
            <use href="./img/symbol-defs.svg#icon-chocolate"></use>
          </svg>
        </div>
        <h3 class="about-title">Неперевершений смак</h3>
        <p class="about-text">
          Створений з найвищоякісних зерен кави та присвячений досягненню досконалості, кожен ковток - це розкішне відчуття, яке неможливо порівняти. Насолоджуйтесь насиченістю та складністю нашого Неперевершеного Смаку і відкрийте новий рівень кавового блаженства.
        </p>
      </li>

      <li class="about-list-item border">
        <div class="about-icon-box">
          <svg class="about-icon" width="37" height="37">
            <use href="./img/symbol-defs.svg#icon-coin"></use>
          </svg>
        </div>
        <h3 class="about-title">Доступна ціна</h3>
        <p class="about-text">
          Насолоджуйтесь високоякісною кавою без значних витрат з асортиментом кави від Simply Coffee. Скоштуйте вишукані напої та оксамитові еспресо без втрати смаку чи якості. Перегляньте наш асортимент і насолодіться доступною розкішшю вже сьогодні.
        </p>
      </li>

      <li class="about-list-item">
        <div class="about-icon-box">
          <svg class="about-icon" width="37" height="37">
            <use href="./img/symbol-defs.svg#icon-spoon"></use>
          </svg>
        </div>
        <h3 class="about-title">Власне виробництво</h3>
        <p class="about-text">
          Ми пишаємося нашим власним виробничим процесом, забезпечуючи ретельне опрацювання кожного етапу. Від вибору найкращих інгредієнтів до ручного приготування кожної порції – наша увага до деталей відчувається в кожному ковтку.
        </p>
      </li>
    </ul>
  </div>
</section>
