<section id="made-scroll" class="section made-section" id="how-made">
  <div class="container" id="how-made-scroll-container">
    <h2 class="made-titel">
      як це <span class="made-titel-right-part"> зроблено?</span>
    </h2>
    <div class="made-saction-content">
      <div class="picture-gradient">
        <picture>
          <source
            srcset="
              ./img/made_section/desc-made_@1x.jpg 1x,
              ./img/made_section/desc-made_@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />

          <source
            srcset="
              ./img/made_section/tabl-made_@1x.jpg 1x,
              ./img/made_section/tabl-made_@2x.jpg 2x
            "
            media="(min-width:768px)"
          />

          <source
            srcset="
              ./img/made_section/mob-made_@1x.jpg 1x,
              ./img/made_section/mob-made_@2x.jpg 2x
            "
            media="(max-width:767px)"
          />

          <img
            class="made-picture"
            src="./img/made_section/mob-made_@1x.jpg"
            alt="A metal bowl with liquid chocolate and a whisk"
          />
        </picture>

        <button class="play-btn" type="button" data-video-open>
          <svg class="play-icon" width="20" height="21">
            <use href="./img/symbol-defs.svg#icon-play"></use>
          </svg>
        </button>

        <iframe
        loading="lazy"
        class="made-video video-is-hidden"
        src="https://www.youtube.com/embed/epMDcqKoQys?start=63&autoplay=1&mute=1"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        data-video
      ></iframe>
      </div>
      <div class="resipe-description">
        <p class="list-description">
          Спробуйте нашу каву сьогодні і відкрийте для себе ідеальний баланс смаку
        </p>
        <ul class="made-list">
          <li class="made-list-item">
            Підготуйте професійну кавову машину та відміряйте точну порцію свіжообсмажених кавових зерен для еспресо.

          </li>
          <li class="made-list-item">
            Змеліть зерна до дрібного помелу, який відповідає стандартам приготування класичного еспресо.
          </li>
          <li class="made-list-item">
            Утрамбуйте мелену каву у портафільтр рівномірно та щільно, створюючи ідеальне ущільнення.
          </li>
          <li class="made-list-item">
            Встановіть портафільтр у групову головку та запустіть процес екстракції під високим тиском.
          </li>
          <li class="made-list-item">
            Слідкуйте за часом приготування, щоб отримати 30-35 мл насиченого та ароматного еспресо.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
