<section class="section reviews-section" id="reviews">
  <h2 class="made-titel">
    <span class="made-titel-right-part">люблять</span> каву
  </h2>
  <div class="container">
    <div class="rev swiper myswipernav">
      <div class="swiper-wrapper">
        <div class="swiper-slide rev">
          <img
            class="reviews-photo"
            srcset="./img/review/girl-1_@2x.jpg 2x"
            src="./img/review/girl-1_@1x.jpg"
            alt="photo"
            width="80"
            height="80"
          />
          <div class="reviews-user">
            <h3 class="reviews-name">Вікторія Добржанська</h3>
            <p class="reviews-text">
              Найкраща колумбійська арабіка! М'який, витончений смак з легкою горчинкою. Професійна обжарка розкриває всі нюанси зерен.
            </p>
          </div>
        </div>
        <div class="swiper-slide rev">
          <img
            class="reviews-photo"
            srcset="./img/review/boy_@2x.jpg 2x"
            src="./img/review/boy_@1x.jpg"
            alt="photo"
            width="80"
            height="80"
          />
          <div class="reviews-user">
            <h3 class="reviews-name">Назар Бабенко. Львів</h3>
            <p class="reviews-text">
              Неймовірно насичений аромат кави, який одразу занурює в атмосферу комфорту. Широкий вибір допоміг знайти мій улюблений купаж.
            </p>
          </div>
        </div>
        <div class="swiper-slide rev">
          <img
            class="reviews-photo"
            srcset="./img/review/girl-2_@2x.jpg 2x"
            src="./img/review/girl-2_@1x.jpg"
            alt="photo"
            width="80"
            height="80"
          />
          <div class="reviews-user">
            <h3 class="reviews-name">Олена Кампуш</h3>
            <p class="reviews-text">
              Якісна кава з чудовим збалансованим смаком. Завжди свіжа обжарка, неймовірний аромат і м'яке повне тіло напою.
            </p>
          </div>
        </div>
        <div class="swiper-slide rev">
          <img
            class="reviews-photo"
            srcset="./img/review/sus_@2x.jpg 2x"
            src="./img/review/sus_@1x.jpg"
            alt="photo"
            width="80"
            height="80"
          />
          <div class="reviews-user">
            <h3 class="reviews-name">Наталія Сус</h3>
            <p class="reviews-text">
              Професійний підхід до обсмажування зберігає всю глибину смаку колумбійської арабіки. Тонка горчинка додає особливого шарму.
            </p>
          </div>
        </div>
        <div class="swiper-slide rev">
          <img
            class="reviews-photo"
            srcset="./img/review/danilo_@2x.jpg 2x"
            src="./img/review/danilo_@1x.jpg"
            alt="photo"
            width="80"
            height="80"
          />
          <div class="reviews-user">
            <h3 class="reviews-name">Daniel Nottingham. Sсotland</h3>
            <p class="reviews-text">
              Unsurpassed coffee with a perfect roast. Economic coffee with an incredibly rich taste that lasts a long time
            </p>
          </div>
        </div>
        <div class="swiper-slide rev">
          <img
            class="reviews-photo"
            srcset="./img/review/irina_@2x.jpg 2x"
            src="./img/review/irina_@1x.jpg"
            alt="photo"
            width="80"
            height="80"
          />
          <div class="reviews-user">
            <h3 class="reviews-name">Ірина Тидник</h3>
            <p class="reviews-text">
              Найкраща місцева кава світового рівня! Широкий асортимент задовольнить найвибагливіших поціновувачів кавових напоїв. :)
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination rev"></div>
    </div>
    <div class="button-wrapper">
      <button type="button" class="button-review" data-modal-open="reviews">
        Залишити відгук
      </button>
    </div>
  </div>
</section>
