<section class="sellers-desktop-container" id="sellers">
  <div class="container">
    <h2 class="sellers-section-title">
      <span class="color-top">Чому</span> ми?
    </h2>
    <ul class="sellers-list">
      <li class="sellers-item">
        <div class="sellers-item-wrapper">
          <picture class="sellers-picture">
            <source
              srcset="
                ./img/top_sellers/mob-roasted_@1x.jpg 1x,
                ./img/top_sellers/mob-roasted_@2x.jpg 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                ./img/top_sellers/mob-roasted_@1x.jpg 1x,
                ./img/top_sellers/mob-roasted_@2x.jpg 2x
              "
              media="(max-width: 1199px)"
            />
            <source
              srcset="
                ./img/top_sellers/mob-roasted_@1x.jpg 1x,
                ./img/top_sellers/mob-roasted_@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="sellers-img"
              src="./img/top_sellers/mob-roasted_@2x.jpg"
              alt="Coffee"
              width="368"
              height="464"
            />
          </picture>
          <div class="sellers-overlay-text">
            Свіжозмелені зерна
          </div>
        </div>
        <p class="sellers-text sellers-text-mobile">
          Дивовижно, але кава походить з насіння кавового дерева, батьківщиною якого є ефіопське нагір'я. За легендою, відкриття кави пов'язують з пастухом на ім'я Калді, який помітив підвищену активність кіз після вживання ягід невідомого куща.
        </p>
      </li>
      <li class="sellers-item">
        <div class="sellers-item-wrapper">
        <picture class="sellers-picture">
          <source
            srcset="
              ./img/top_sellers/desc-range_@1x.jpg 1x,
              ./img/top_sellers/desc-range_@2x.jpg 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./img/top_sellers/desc-range_@1x.jpg 1x,
              ./img/top_sellers/desc-range_@2x.jpg 2x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              ./img/top_sellers/desc-range_@1x.jpg 1x,
              ./img/top_sellers/desc-range_@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="sellers-img"
            src="./img/top_sellers/desc-range_@1x.jpg"
            alt="Coffee"
            width="368"
            height="464"
          />
        </picture>
        <div class="sellers-overlay-text">
          Широкий вибір сортів
        </div>
      </div>
      </li>
      <li class="sellers-item">
        <div class="sellers-item-wrapper">
        <picture class="sellers-picture">
          <source
            srcset="
              ./img/top_sellers/desc-coffee_@1x.jpg 1x,
              ./img/top_sellers/desc-coffee_@2x.jpg 2x
            "
          />

          <img
            class="sellers-img"
            src="./img/top_sellers/desc-coffee_@1x.jpg"
            alt="coffee"
            width="368"
            height="464"
          />
        </picture>
        <div class="sellers-overlay-text">
          Швидка доставка
        </div>
      </div>
      </li>
    </ul>
    <div class="sellers-text-wrapper container">
      <p class="sellers-text sellers-text-tablet">
        Дивовижно, але кава походить з насіння кавового дерева, батьківщиною якого є ефіопське нагір'я. За легендою, відкриття кави пов'язують з пастухом на ім'я Калді, який помітив підвищену активність кіз після вживання ягід невідомого куща.
      </p>
      <button
        type="button"
        class="sellers-buy-now-btn desk-btn"
        data-modal-open="sellers"
      >
        Замовити
      </button>
    </div>
  </div>
</section>
