<section class="bg-sub-img sub-section" id="subscribe">
  <div class="subscribe-container container">
    <div class="subscribe-text-container">
      <h2 class="subscribe-title">ВІДКРИЙ НАШУ <br />КАВУ ПЕРШИМ</h2>
      <p class="subscribe-text">
        Від оксамитової текстури до насиченого та складного смаку, наша Нова
        Кава - це справжня розкіш, яка змусить вас бажати більшого. Створена
        лише з найвищоякісніших інгредієнтів та виготовлена з надзвичайною
        турботою, кожна порція - це справжній витвір мистецтва, який неодмінно
        вас вразить.
      </p>
    </div>
    <button class="subscribe-button" type="button" data-modal-open="explore">
      Підписатись
    </button>
  </div>
</section>
