<section class="section section-taste" id="taste-section">
  <div class="container taste-container">
    <div class="header-text">
      <h3 class="taste-header">
        ВСЕ ЦЕ СКЛАДАЄТЬСЯ В ОДНУ ВИНЯТКОВУ
        <span class="color-taste">смакову</span> сенсацію
      </h3>
      <p class="taste-text">
        У Simply Coffee ми віримо, що секрет виняткової кави криється в деталях. Від пошуку найвищоякісніших інгредієнтів до старанного приготування кожної окремої порції, кожен крок нашого процесу складається в один винятковий смаковий досвід.
      </p>
    </div>

    <div class="card-taste left">
      <div class="front front-1">
        <div class="contents">
          <picture>
            <source
              media="(min-width:1200px)"
              srcset="
                ./img/taste_photo/milk-chocolate_desktop.png    1x,
                ./img/taste_photo/milk_chocolate_desktop@2x.png 2x
              "
              type="image/jpg"
            />

            <source
              media="(max-width:1199px)"
              srcset="
                ./img/taste_photo/milk_chocolate_mob.png    1x,
                ./img/taste_photo/milk_chocolate_mob@2x.png 2x
              "
              type="image/jpg"
            />
            <img
              class="img-taste"
              src="./img/taste_photo/milk_chocolate_mob.png"
              width="224"
              height="171"
              alt="Milk Chocolate"
            />
          </picture>
          <h2 class="title-taste">Свіжомелена кава</h2>
        </div>
      </div>
      <div class="back">
        <div class="contents">
          <h3 class="subtitle-taste">Свіжомелена кава</h3>
          <ul class="list-taste">
            <li>
              <button class="btn-taste active-taste" type="button">
                походження
              </button>
            </li>
            <li>
              <button class="btn-taste" type="button">докладніше</button>
            </li>
          </ul>
          <p class="text-taste">
            Свіжозмелена кава - це ароматний, насичений напій з багатим смаковим профілем. Вона відзначається високим вмістом корисних антиоксидантів. На відміну від попередньо змелених сумішей, свіжозмелена кава має ширший спектр смакових відтінків.
          </p>
        </div>
      </div>
    </div>
    <div class="card-taste left">
      <div class="front front-2">
        <div class="contents">
          <picture>
            <source
              media="(min-width:1200px)"
              srcset="
                ./img/taste_photo/milk_desktop.png    1x,
                ./img/taste_photo/milk_desktop@2x.png 2x
              "
              type="image/jpg"
            />

            <source
              media="(max-width:1199px)"
              srcset="
                ./img/taste_photo/milk_mob.png    1x,
                ./img/taste_photo/milk_mob@2x.png 2x
              "
              type="image/jpg"
            />
            <img
              class="img-taste"
              src="./img/taste_photo/milk_mob.png"
              width="224"
              height="171"
              alt="Milk"
            />
          </picture>
          <h2 class="title-taste">Молоко до кави</h2>
        </div>
      </div>
      <div class="back">
        <div class="contents">
          <h3 class="subtitle-taste">Молоко до кави</h3>
          <ul class="list-taste">
            <li>
              <button class="btn-taste active-taste" type="button">види</button>
            </li>
            <li>
              <button class="btn-taste" type="button">докладніше</button>
            </li>
          </ul>
          <p class="text-taste">
            Молоко до кави — це ідеальне поєднання смаку та аромату. Воно пом’якшує гіркоту кави та додає ніжну вершкову нотку. Гаряче чи холодне, молоко підкреслює багатство кавових зерен. 
          </p>
        </div>
      </div>
    </div>
    <div class="card-taste">
      <div class="front front-3">
        <div class="contents">
          <picture>
            <source
              media="(min-width:1200px)"
              srcset="
                ./img/taste_photo/nuts_desktop.png    1x,
                ./img/taste_photo/nuts_desktop@2x.png 2x
              "
              type="image/jpg"
            />

            <source
              media="(max-width:1199px)"
              srcset="
                ./img/taste_photo/nuts_mob.png    1x,
                ./img/taste_photo/nuts_mob@2x.png 2x
              "
              type="image/jpg"
            />
            <img
              class="img-taste"
              src="./img/taste_photo/nuts_mob.png"
              width="224"
              height="171"
              alt="Nuts"
            />
          </picture>
          <h2 class="title-taste">Кава розчинна</h2>
        </div>
      </div>
      <div class="back">
        <div class="contents">
          <h3 class="subtitle-taste">Кава розчинна</h3>
          <ul class="list-taste">
            <li>
              <button class="btn-taste active-taste" type="button">виробники</button>
            </li>
            <li>
              <button class="btn-taste" type="button">докладніше</button>
            </li>
          </ul>
          <p class="text-taste">
            Розчинна сублімована кава - практичний вибір. Вона зберігає аромат та корисні властивості, легко розчиняється. Компактна упаковка робить її зручною для зберігання та використання.
          </p>
        </div>
      </div>
    </div>
    <div class="card-taste bottom">
      <div class="front front-2">
        <div class="contents">
          <picture>
            <source
              media="(min-width:1200px)"
              srcset="
                ./img/taste_photo/coffee_desktop.png    1x,
                ./img/taste_photo/coffee_desktop@2x.png 2x
              "
              type="image/jpg"
            />

            <source
              media="(max-width:1199px)"
              srcset="
                ./img/taste_photo/coffee_mob.png    1x,
                ./img/taste_photo/coffee_mob@2x.png 2x
              "
              type="image/jpg"
            />
            <img
              class="img-taste"
              src="./img/taste_photo/coffee_mob.png"
              width="224"
              height="171"
              alt="Semi - sweet chocolate"
            />
          </picture>
          <h2 class="title-taste">ВЛАСНЕ ОБЖАРЮВАННЯ</h2>
        </div>
      </div>
      <div class="back">
        <div class="contents">
          <h3 class="subtitle-taste">ВЛАСНЕ ОБЖАРЮВАННЯ</h3>
          <ul class="list-taste">
            <li>
              <button class="btn-taste active-taste" type="button">
                особливості
              </button>
            </li>
            <li>
              <button class="btn-taste" type="button">докладніше</button>
            </li>
          </ul>
          <p class="text-taste">
                        Зерна кави власного обжарювання — це свіжість і унікальний смак у кожній чашці. Ми обираємо найкращі сорти і обжарюємо їх з любов’ю до деталей. 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
